* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Montserrat', sans-serif;
  }

a {
  text-decoration: none;
}

body {
  color: #292929;
  list-style: none;
  text-decoration: none;
  background-color: #29292910;
}

